<div class="ships-list">
  <div *ngIf="isNoDataMessageVisible" class="ships-list__status-wrapper">
    <h2 class="ships-list__status">No Data</h2>
  </div>
  <div class="ships-list__cards-wrapper">
    <app-ship-card
      *ngFor="let ship of ships"
      [ship]="ship"
      (goInsideEvent)="goInside($event)"
    ></app-ship-card>
  </div>
  <div class="ships-list__pagination">
    <button
      class="button ships-list__pagination-button"
      [disabled]="!isPreviousPageExist"
      (click)="previousPage()"
    >
      <img
        class="button__icon ships-list__pagination-icon ships-list__pagination-icon_left"
        src="assets/icons/paginagion-arrow.svg"
        alt="arrow"
      />
    </button>
    <span class="ships-list__page-count">{{ currentPage }}</span>
    <button
      class="button ships-list__pagination-button"
      [disabled]="!isNextPageExist"
      (click)="nextPage()"
    >
      <img
        class="button__icon ships-list__pagination-icon"
        src="assets/icons/paginagion-arrow.svg"
        alt="arrow"
      />
    </button>
  </div>
</div>
