@import 'colors';
@import 'variables';
@import 'mixins';

:host {
  @include height-width-100-percent;
}

.ships-list {
  @include height-width-100-percent;
  &__cards-wrapper {
    @include height-width-100-percent;
  }

  &__pagination {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    width: 9.4rem;
    height: 2.8rem;
  }

  &__pagination-button {

  }

  &__pagination-icon {
    &_left {
      transform: rotate(180deg);
    }
  }

  &__page-count {
  }
}
