<div class="ships-list">
  <div class="ships-list__cards-wrapper">
    <app-ship-card></app-ship-card>
  </div>
  <div class="ships-list__pagination">
    <button class="button ships-list__pagination-button">
      <img
        class="button__icon ships-list__pagination-icon ships-list__pagination-icon_left"
        src="assets/icons/paginagion-arrow.svg"
        alt="arrow"
      />
    </button>
    <span class="ships-list__page-count">1</span>
    <button class="button ships-list__pagination-button">
      <img
        class="button__icon ships-list__pagination-icon"
        src="assets/icons/paginagion-arrow.svg"
        alt="arrow"
      />
    </button>
  </div>
</div>
