<div *ngIf="ship" class="ship-card">
  <div class="ship-card__header">
    <h2 class="ship-card__title">{{ship.name}}</h2>
    <button class="button ship-card__go-inside-button">
      <img
        class="button__icon ship-card__go-inside-icon"
        src="assets/icons/go-inside-arrow.svg"
        alt="go-inside"
      />
    </button>
  </div>
  <div class="ship-card__body">
    <div class="ship-card__table-wrapper">
      <table class="ship-card__table">
        <tr class="ship-card__table-row">
          <td class="ship-card__table-cell ship-card__table-cell_property">Тип</td>
          <td class="ship-card__table-cell ship-card__table-cell_value">{{ship.type}}</td>
          <td class="ship-card__table-cell ship-card__table-cell_property">Порт</td>
          <td class="ship-card__table-cell ship-card__table-cell_value">{{ship.home_port}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
