<div *ngIf="ship" class="ship-card">
  <div class="ship-card__header">
    <h2 class="ship-card__title">{{ ship.name }}</h2>
    <button class="button ship-card__go-inside-button">
      <img
        class="button__icon ship-card__go-inside-icon"
        src="assets/icons/go-inside-arrow.svg"
        alt="go-inside"
      />
    </button>
  </div>
  <div class="ship-card__body">
    <div class="ship-card__table-wrapper">
      <app-table [tableRows]="[{ cells: ['Тип', ship.type, 'Порт', ship.home_port] }]"></app-table>
    </div>
  </div>
</div>
