<div class="ships-form">
  <form class="ships-form__form">
    <div class="ships-form__header">
      <div class="ships-form__title-wrapper">
        <h2 class="ships-form__title">Фильтры</h2>
      </div>
    </div>
    <div class="ships-form__field-list">
      <div class="ships-form__field-wrapper">
        <app-string-field
          [control]="shipsFiltersForm.get(shipNameFormControlName)"
          placeholder="Название"
        ></app-string-field>
      </div>
      <div class="ships-form__field-wrapper">
        <app-selection-field
          [control]="shipsFiltersForm.get(portsFormControlName)"
          [selections]="ports"
          placeholder="Название"
        ></app-selection-field>
      </div>
    </div>
  </form>
</div>
