<div class="page ship-page">
  <section class="page__wrapper">
    <div class="page__header ship-page__header">
      <button class="button ship-page__back-btn">
        <img
          class="button__icon ship-page__back-icon"
          src="assets/icons/go-inside-arrow.svg"
          alt="comeback"
        />
        <span class="button__text ship-page__back-text">Вернуться</span>
      </button>
      <h1 class="page__title">SpaceX Ships</h1>
    </div>
    <div class="page__content-wrapper ship-page__info-wrapper">
      <div class="ship-page__info">
        <app-table
          [tableRows]="[
            { cells: ['Тип', 'Barge', 'Порт', 'Port Canaveral'] },
            { cells: ['Вес', '440892 кг', 'Год', '2015'] },
            { cells: ['Миссии'] },
            {
              cells: [
                'SES-9, CRS-8, Thaicom 8, ABS-2A / Eutelsat 117W B, JCSAT-16, SES-10, BulgariaSat-1, SES-11 / Echostar 105, KoreaSat 5A, Falcon Heavy Test Flight, TESS, Bangabandhu-1, Telstar 19V, Merah Putih, Telstar 18V, Es’hail 2, Nusantara Satu (PSN-6) / S5 / Beresheet, CCtCap Demo Mission 1, ArabSat 6A, CRS-17, Starlink v0.9, STP-2, Starlink 1, JCSat 18 / Kacific 1, Starlink 2, Starlink 3, Starlink 4, Starlink 5'
              ],
              colspan: 4,
              cellClasses: 'table__cell_blue table__cell_only-bottom-padding'
            }
          ]"
        ></app-table>
      </div>
    </div>
  </section>
</div>
