$primary-color: #fafafa;
$secondary-color: #ffffff;
$third-color: transparent;
$fourth-color: #3c474c;
$fifth-color: #347cff;
$sixth-color: #e5e5e5;
$seventh-color: rgba(0, 0, 0, 0.87);
$eighth-color: #000000;
$ninth-color: rgba(0, 0, 0, 0.4);

$primary-text-color: $seventh-color;
$secondary-text-color: $fifth-color;

$input-placeholder-color: $ninth-color;

$field-border-color: $ninth-color;
$field-border-focus-color: $fifth-color;

$primary-bg-color: $primary-color;
$secondary-bg-color: $secondary-color;
$third-bg-color: $third-color;
$fourth-bg-color: $fourth-color;
$fifth-bg-color: $fifth-color;
$sixth-bg-color: $sixth-color;

$primary-btn-bg-color: $primary-bg-color;
$primary-btn-text-color: $eighth-color;
