
@mixin all-sides-zero {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@mixin absolute-zero-position {
  @include all-sides-zero;
  @include height-width-100-percent;

  position: absolute;
}
@mixin fixed-position {
  @include height-width-100-percent;

  position: fixed;
}
@mixin flex-row {
  display: flex;
  flex-flow: row nowrap;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin height-width-100-percent {
  width: 100%;
  height: 100%;
}
@mixin icon-size($size) {
  width: $size;
  height: $size;
}
@mixin default-text {
  font-size: $default-font-size;
  font-family: $default-font-family;
  font-weight: 400;
}
