@import 'variables';
@import 'mixins';
.page {
  @include height-width-100-percent;

  &__wrapper {
    @include height-width-100-percent;
    @include flex-column;

    padding: $page-paddings;
  }
  &__header {
    @include flex-column;

    width: 100%;
    height: calc(6.4rem + #{$primary-title-font-size});
  }
  &__title {
    font-size: $primary-title-font-size;
  }
  &__content-wrapper {
    @include flex-column;

    width: 100%;
    height: calc(100% - 6.4rem - #{$primary-title-font-size});
    align-items: center;
  }
}
