<div class="page ships-list-page">
  <div class="ships-list-page__main-wrapper">
    <section class="page__wrapper">
      <div class="page__header">
        <h1 class="page__title">SpaceX Ships</h1>
      </div>
      <div class="page__content-wrapper ships-list-page__list-wrapper">
        <div class="ships-list-page__list">
          <app-ships-list
            [ships]="ships"
            [currentPage]="currentPage + 1"
            [isNextPageExist]="isNextPageExist"
            [isPreviousPageExist]="isPreviousPageExist"
            (nextPageEvent)="fetchNext()"
            (previousPageEvent)="fetchPrevious()"
            (goInsideEvent)="redirectToShipPage($event)"
          ></app-ships-list>
        </div>
      </div>
    </section>
    <aside class="ships-list-page__filters-wrapper">
      <app-ships-filters-form (filtersValuesChangedEvent)="filter($event)"></app-ships-filters-form>
    </aside>
  </div>
</div>
