@import 'variables';
@import 'mixins';

:host {
  @include height-width-100-percent;
}

.ships-list-page {
  &__main-wrapper {
    @include height-width-100-percent;
    @include flex-row;
  }
  &__list {
    @include height-width-100-percent;
  }
  &__filters-wrapper {
    @include height-width-100-percent;
    max-width: 393px;
    padding: 5.2rem 3.3rem;
    background-color: $secondary-bg-color;
    border-left: 1px solid #a5a5a5;
  }
}
